{% extends "layout.html" %}
{% load static %}
{% block footer %}
    <script defer
            src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
    <script defer>
	var reading_button = null;

	var series_data = [
		{% for s in series_list %}
			{% if s.has_cover %}
			{
				"title": "{{ s.name|escapejs }}",
				"html": `<div class="col-xl-2p4 col-lg-3 col-md-4 col-sm-6 col-6 mb-2 px-1">
<div class="card h-100 text-center">
<div class="embed-responsive embed-responsive-7by10">
{% if s.has_cover %}
<a href="{{ s.series_url }}">
<img class="card-img-top embed-responsive-item lazy" data-src="{{ s.volume_cover }}" alt="Cover for {{ s.name }}" width="{{ s.volume_cover_width }}" height="{{ s.volume_cover_height }}" />
</a>
{% endif %}
</div>
<div class="card-body">
<h7 class="card-title">
<a href="{{ s.series_url }}">{{ s.name }}</a>
</h7>
{% if s.is_nsfw %}<span class="badge badge-danger">NSFW</span>{% endif %}
</div>
</a>
</div>
</div>`
			} {%if not forloop.last%},{%endif%}
			{% endif %}
		{% endfor %}

	];
	series_data.forEach(t => t.preparsed_title = fuzzysort.prepare(t.title))
	const search_options = {
		key: "title",
		limit: page_size,
		threshold: .5
	};


	var page_size = 50;
	var page_num = 0;
	var max_page = Math.ceil(series_data.length / page_size);

	function zpad(n) {
		if (n < 10) return '0' + n;
		return n;
	}

	function create_page_arrow(is_next)
	{
		var item = document.createElement("li")
		item.setAttribute("class", "page-item");

		var link = document.createElement("a");
		link.setAttribute("class", "page-link");
		link.setAttribute("href", "#");
		link.setAttribute("onclick", is_next ? "change_page_next()" : "change_page_previous()");
		link.setAttribute("aria-label", is_next ? "Next" : "Previous");

		var span1 = document.createElement("span");
		span1.setAttribute("aria-hidden", "true");
		span1.innerHTML = is_next ? "&raquo;" : "&laquo;";

		//var span2 = document.createElement("span");
		//span2.setAttribute("sr-only", "true");
		//span2.innerHTML = is_next ? "Next" : "Previous";

		link.append(span1);
		//link.append(span2);
		item.append(link)
		return item;
	}

	function create_page_item(id)
	{
		var item = document.createElement("li")
		if (page_num + 1 === id)
		{
			item.setAttribute("class", "page-item active");
		}
		else if ( id === '...')
		{
			item.setAttribute("class", "page-item disable");
		}
		else
		{
			item.setAttribute("class", "page-item");
		}

		var link = document.createElement("a");
		link.setAttribute("class", "page-link");
		link.setAttribute("href", "#");
		if (id !== '...')
		{
			link.setAttribute("onclick", `change_page(${id} - 1)`);
		}
		link.text = id;

		item.append(link)
		return item;
	}

	function get_pagination_pages(visiblePages = 3) {
		if (max_page <= 1)
		{
			return [1];
		}
		var pages = new Set();
		pages.add(1);
		pages.add(max_page);

		const half = Math.floor(visiblePages / 2);
		let start = page_num + 1 - half;
		let end = page_num + 1 + half;

		// Adjust bounds to stay within 2 and max_page - 1 (since 1 and max_page are always shown)
		start = Math.max(2, start);
		end = Math.min(max_page - 1, end);

		for (let i = start; i <= end; i++) {
			pages.add(i);
		}
		pages = [...pages];
		pages.sort((a, b) => a - b);

		// Insert ellipses for gaps
		const pagination = [];
		for (let i = 0; i < pages.length; i++) {
			pagination.push(pages[i]);
			if (i < pages.length - 1 && pages[i + 1] - pages[i] > 1) {
				pagination.push('...');
			}
		}

		return pagination;
	}

	function change_page_previous()
	{
		if (0 < page_num)
		{
			page_num -= 1;
			populate_series();
		}
	}

	function change_page_next()
	{
		if (page_num + 1 < max_page)
		{
			page_num += 1;
			populate_series();
		}
	}

	function change_page(new_page)
	{
		if (page_num !== new_page)
		{
			page_num = new_page;
			populate_series();
		}
	}


	function generate_page_buttons()
	{
		var pagination = document.getElementById('pages');
		pagination.innerHTML = "";

		pagination.append(create_page_arrow(/*is_next=*/ false));
		pages = get_pagination_pages();
		for (const page of pages)
		{
			pagination.append(create_page_item(page));
		}
		pagination.append(create_page_arrow(/*is_next=*/ true));
	}

	function populate_series()
	{
		var main_div = document.getElementById('series-listing');
		var html = "";
		for (var i = page_num * page_size; i < series_data.length && i < (page_num + 1) * page_size; ++i)
		{
			html += series_data[i].html;
		}
		main_div.innerHTML = html;
		generate_page_buttons();
		lazyContent.update();
	}

	function on_search()
	{
		var search_bar = document.getElementById('search_bar');
		if (search_bar.value === '')
		{
			populate_series();
			return;
		}
		page_num = 0;
		const results = fuzzysort.go(search_bar.value, series_data, search_options);

		var main_div = document.getElementById('series-listing');
		var html = "";
		for (const result of results)
		{
			html += result.obj.html;
		}
		main_div.innerHTML = html;
		var pagination = document.getElementById('pages');
		pagination.innerHTML = "";
		lazyContent.update();
	}

	var lazyContent = null;
	window.addEventListener("DOMContentLoaded", () => {
		// Setup Lazy image load
		lazyContent = new LazyLoad({
			// use_native: true // <-- there you go
		});
		// Populate first page
		populate_series();

		// Setup search bar
		var search_bar = document.getElementById('search_bar');
		search_bar.oninput = e => on_search();
	});

    </script>
{% endblock %}
{% block body %}
    <style>
	h1 {
		font-size: 1.4em;
	}

	p {
		color: #dedede;
	}

	html,
	html.h-100 {
		background-attachment: fixed;
		background-position: 50% 10%;
		background-size: 1500px;
		background-image: url("/static/img/bg_box.png");
		background-color: black !important;
	}

	body {
		background: none !important;
		background-color: none !important;
	}

	.embed-responsive .card-img-top {
		object-fit: cover;
	}

	.embed-responsive-2by3::before {
		padding-top: 150%
	}

	.embed-responsive-7by10::before {
		padding-top: 141.17%
	}

	.page-series .series-content {
		border-radius: 4px;
		background-color: #1a1a1a;
		background-attachment: fixed;
		background-position: 50% 10%;
		background-size: 1500px;
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.series-content .card {
		border-top-left-radius: .6em;
		border-top-right-radius: .4em;
		border-bottom-left-radius: .4em;
		border-bottom-right-radius: .4em;
		background-color: #1a1a1a;
	}

	.series-content .card-img-top {
		border-top-left-radius: .6em;
		border-top-right-radius: .6em;
		border-bottom-left-radius: .6em;
		border-bottom-right-radius: .6em;
	}

	.series-content .card-footer {
		padding-top: 0.25rem;
		padding-right: 0.25rem;
		padding-bottom: 0.0rem;
		padding-left: 0.25rem;
		border-top: 0px;
	}

	.series-content .card-title {
		font-weight: 700;
	}

	.series-content h1 {
		color: white;
		font-size: 2em;
		margin-bottom: 0.5em;
		text-align: center;
	}

	.col-xl-5ths {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}

	@media (min-width: 1200px) {
		.col-xl-5ths {
			width: 20%;
			float: left;
		}
	}

	@media (min-width: 550px) {
		.series-content {
			max-width: 550px;
		}
	}

	@media (min-width: 768px) {
		.series-content {
			max-width: 700px;
		}
	}

	@media (min-width: 992px) {
		.series-content {
			max-width: 900px;
		}
	}

	@media (min-width: 1200px) {
		.series-content {
			max-width: 1080px;
		}
	}

	.page-series #search_bar {
		border: none !important;
		background:	rgba(0,0,0,0.2) !important;
		border-radius: 0 !important;
		line-height: inherit;
		height: 3em;
		color: white;
		padding-left: 1em;
	}

	.page-series #search_bar::placeholder {
		color: rgba(255,255,255,1);
		opacity: 0.6;
	}
    </style>
    <div class="container-fluid page-series">
        <div class="bs-docs-section clearfix mt-1">
            <div class="row justify-content-center">
                <div class="series-content">
                    {% if "title" in available_features %}<h1>Series and oneshots by {{ author }}</h1>{% endif %}
                    <div id= class="container-fluid">
                        <input id="search_bar"
                               class="row form-control-sm"
                               style="width: 100%"
                               placeholder="⌕ Search"
                               data-empty="true"
                               autocomplete="off">
                        <br />
                        <div id="series-listing" class="row"></div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul id="pages" class="pagination justify-content-center">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script>
	// remoteStorage.on("ready", async () => {
	//   {% if reader_modifier %}
	//      let source = "{{ reader_modifier }}".split("/")[1];
	//      {% else %}
	//      let source = window.location.pathname
	//        .split("/")
	//        .filter(e => e)[1]
	//        .replace("_", " ");
	//      {% endif %}

	//  {% for series_slug, url, title in unique_series %}
	//      await globalHistoryHandler.pushSeries("{{ series_slug }}", "", source, "{{ url }}", "{{ title }}");
	//  {% endfor %}
	//      window.dispatchEvent(new CustomEvent("history-ready"));
	//    });
    </script>
{% endblock %}
